
*{
    margin: 0;
    padding: 0;
}
.navbar  {
    background-color: 	hsl(120, 100%, 97%);
    height: 100px;
    line-height: 40px;
    
    
}
h1{
    text-shadow: 2px 2px;
}
.logo{
    line-height: 80px;
    float: left;
    margin-left: 20px;
    text-emphasis-color: blue;
}

.menu{

    float :right;
    margin-right: 50px;
    line-height: 80px;
}

.menu li{
    
    
    padding: 10px;
    display: inline-block;
}





.container{
    background-color: aqua;
    padding: 25px;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    padding: 19px;
    border-radius: 30px;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 35%;
    border-radius: 50%;
    border: 2px solid black;

}
.btn{
    position: relative;
    top: 25px;
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
